:root {
  --measure: 120ch;
  --s1: 1rem;
  --color-light-grey: #F4F4F4;
  --color-mid-grey: lightgray;
  --color-success: #529463;
  --color-warning: #f9b836;
  --font-monospace: monospace;

  background-color: var(--color-light-grey);
  padding-left: calc(var(--s1) * 0.5);
  padding-right: calc(var(--s1) * 0.5);
}

* {
  box-sizing: border-box;
}

h1 > span {
  color: lightgray;
}

h1 {
  margin-block-start: 0;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  &.jc-between {
    justify-content: space-between;
  }
  gap: var(--space, var(--s1));

  &.compact {
    gap: calc(var(--s1) * 0.25)
  }
}
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
} 

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

a {
  color: black;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-decoration: underline;
}

.messages {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.bg-light-grey {
  background-color: var(--color-light-grey);
}

.bg-white {
  background-color: white;
}

.border-1 {
  border: 1px solid black;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--s1);
}

.my-2 {
  margin-bottom: calc(var(--s1) * 2);
  margin-top: calc(var(--s1) * 2);
}

.p-1 {
  padding: var(--s1)
}

.py-1 {
  padding-bottom: var(--s1);
  padding-top: var(--s1);
}

.bs {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.transform-none {
  text-transform: none;
}

button {
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  cursor: pointer;

  &.primary {
    background-color: var(--color-success);
    color: white;
  }
  &:hover {
    background-color: black;
    color: white;
  }
  &:active {
    background-color: initial;
    color: initial;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);

    &.primary {
      background-color: var(--color-success);
      color: white;
    }
  }
}

input {
  border: 1px solid black;
  border-radius: 0;
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.25);

  &:focus {
    border: 1px solid black;
    border-radius: 0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
    outline: none;
  }
}

input[type="file"]::file-selector-button {
  background-color: white;
  border: none;
  border-right: 1px solid black;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: black;
  color: white;
}

input[type="file"]::file-selector-button:active {
  background-color: initial;
  color: initial;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}

hr {
  border: none;
  border-top: 1px dashed black;

  &.solid {
    border-top: 1px solid black;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
  &.jc-between {
    justify-content: space-between;
  }
}

.chip {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 1px 4px 0 4px;
  font-family: var(--font-monospace);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.success {
    background-color: var(--color-success);
    color: white
  }
  &.warning {
    background-color: var(--color-warning);
  }
}
